{{! create header with name page, add course, view my courses using tailwind css }}

<div class='container mx-auto mt-4'></div>
<div class='flex justify-between'>
  <h1 class='text-3xl font-bold'>{{name}}</h1>
  <div class='flex'>
    <a
      href='/courses/create'
      class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4'
    >Add Course</a>
    <a
      href='/me/stored/courses'
      class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'
    >View My Courses</a>
  </div>
</div>